/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
/src/bin/www/*
/arquivos*
/src/bin/CertificadoSSL/*
www.zip
*logServer.txt
*.pem
serverConfig.json
hashKey.json
server.csr
server.enc.key

